.calendar {
  display: flex;
  width: 100%;
  color: #f5f8fa;
  padding: 1rem;

  &__month {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      text-transform: capitalize;
      text-align: center;
      min-width: 10rem;
      font-size: 1.5rem;
    }
  }
  &__Changemonth {
    cursor: pointer;
    &:hover {
      color: #dfdfdf;
    }
  }
}
